@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');


#grid.clear {
  background: cover;
  width: auto;
}
.color-variant {
  background-color: #B77333 ;
}
.favicon {
  width: 1700px;
  height: 50px;
  background-color: #B77333
}

.wave {
  background-image: linear-gradient(#B77333, silver 10%, #B87333 20%);
  // background-color: #D4AF37;
}