@import '~bootstrap/dist/css/bootstrap.min.css';

@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'MuseoModerno','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-color: #B77333;
  background-color: black;
}

code {
  font-family: MuseoModerno, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carouselItem {
  width: 1000px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.home-title {
  animation-duration: 8s;
  animation-name: slidein;
  animation-iteration-count: infinite;
//   width: 50px;
// height: 50px;
}

@keyframes slidein {
0% {
  margin-left: 0%;
}
50% {
  margin-left: 200px;
}
100% {
  margin-left: 0%;
}
}

.hero {
  /* Photo by mnm.all on Unsplash */
  background: url('https://live.staticflickr.com/65535/50912428157_7e46378347_z.jpg" width="359" height="640" alt="straight') center;
  background-size: cover;
  padding: 4rem 2rem;

  /* Grid styles */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

button {
  background-color: #808080;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  border-radius: 12px;
}

.intro {
  background-color: #808080
}