
.pic-header {
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.header-pic {
  width: 240px;
  height: 240px;
  // border-radius: 15px 50px;
  border:solid white;
  margin-bottom: 85px;

}
.about-us-text {
  margin-right: 150px;
  padding: 25px;
}