@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');




.color-variant {
  background-color: #B77333 ;
}
.favicon {
  width: 1600px;
  height: 50px;
  background-color: #B77333
}