.AssembyBrazeSections {
  background-color: black;
}


.assemblyText {
  margin: auto;
  padding: 25px;
  background-color: rgba(8, 8, 8, 0.8);
  letter-spacing: .15em;
  text-align: center;

}
.title-braze{
  text-align: center;
}
.home-return {
  color: #374659;
  clear:left;
  margin: 20px;

}

.product-return {
  color: #374659;
  margin: 20px;
  clear:left;
}

.quote-request {
  color: #374659;
  margin: 20px;
  clear:left;
}