@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
 @import "node_modules/font-awesome/scss/font-awesome.scss";
.MyNavbar{
//   // display: flex;
//   // justify-content: flex-end;
//   justify-content: left;
//   // align-items: flex-end;
//   position: absolute;

  // background-color: #B77333;
  //padding-top: 40px;
  position: sticky;
  background-color: #374659;
  height: 125px;
  width: auto;
  margin-top: 5px;
  // overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  // background-image: repeating-linear-gradient(#B77333, silver 20%, #B87333 70%)
//   // left: 0;
}
@media (max-width: 1024px) {
  /*Mobile View */
  .navbar {
    padding: 0px 10px;
  }
  .navbar-links {
    padding: 0px;
    display: flex;
    margin-bottom: 50px;
    overflow: visisble
    ;
  }
}

.navbar-links {
  // scroll-padding-top: 70px;
  position:relative;
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin-right:10px;
  margin-left: 50px;
  margin-bottom: 10px;
  font-family: Arvo;
padding: auto;

  // color: black;
//  color: #B77333
  border-right:solid 1px #fff;


}

.navbar-links:hover {
  color: lightgray;
  
  
}
a {
  color: black;
}
.nav-item {
  color: black;
}

// .triangle-end {
//   position: relative;
//   left: 55%;
//   top: 10px;
//   display: inline-block;
//   width: 0; 
//   height: 0; 
//   border-bottom: 150px solid transparent;
//   /* adjust border-left for overall width */
//   border-left: 150px solid  #B77333;
// }

.home-title {
 border-radius: 15px 30px;
  max-width: 100%;
  // margin-bottom: 200px; 

}

// .example1-dropdown-menu {
//   display: flex;
//   flex-direction: column;
//   top: 28px;
//   right: 0;
//   padding: 8px 0px;
//   background-color: #ffffff;
//   border-radius: 3px;
//   box-shadow: 0px 0px 5px #c3c5c7;

//   &-enter {
//     opacity: 0;
//   }

//   &-enter-active {
//     opacity: 1;
//     transition: 0.2s ease-in;
//   }

//   &-exit {
//     opacity: 1;
//   }

//   &-exit-active {
//     opacity: 0;
//     transition: 0.2s ease-in;
//   }
// }

// .example1-dropdown-menu-item {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   padding: 6px 26px;
//   font-size: 12px;
//   color: #333537;

//   &:hover {
//     background-color: #f3f5f7;
//   }

//   &__spacer {
//     width: 6px;
//   }

//   &__text {
//     padding: 0px 2px;
//   }
// }