@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');

.MyNavbar{
//   // display: flex;
//   // justify-content: flex-end;
//   justify-content: left;
//   // align-items: flex-end;
//   position: absolute;
  // background-color: #B77333;
  background-color: #374659;
//   height: 150px;
//   // width: auto;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 12px;
//   // left: 0;
}

.navbar-links {
  position:relative;
  text-decoration: none;
  color: black;
  font-size: 30px;
  margin-left: 70px;
  margin-bottom: 10px;
  font-family: MuseoModerno

}

.navbar-links:hover {
  color: lightgray;
}

// .triangle-end {
//   position: relative;
//   left: 55%;
//   top: 10px;
//   display: inline-block;
//   width: 0; 
//   height: 0; 
//   border-bottom: 150px solid transparent;
//   /* adjust border-left for overall width */
//   border-left: 150px solid  #B77333;
// }

.home-title {
  border-radius: 15px 30px;
}