body {
  background-color: black;
  color: white;
}

.links-products {
  margin-top: 50px;
  padding: 50px;
  color:  #B77333;
  margin-bottom: 30px;

}
.products {
  margin-top: 40px;
}

.column-3 {
  float: left;
  width: 800px;
  margin-bottom: 60px;
  padding: 10px;
  border: solid white;
}
.column-1, .column-2 {
  float: left;
  width: 300px;
  margin: 10px;
  height: 600px;
  margin-bottom: 20px;
}
.product-intro {
  float: left;
  padding: 10px;
}

.dashCard {
  border: solid #374659;
  padding: 10px;
  margin-bottom: 15px;
}

.column-6 {
  text-align: center;
}
#headerpic {
  text-align: center;
  width: 900px;
  margin: auto; 
}
.product-intro {
  margin: auto;
  padding: 25px;
  background-color: rgba(8, 8, 8, 0.8);
  letter-spacing: .15em;
  text-align: center;
}